# Ignore everything
/*

# Ignore EVERYTHING except bluepill drivers folder
# To add more folders, add rules like this below:
#/  ! {FOLDER or FILE_NAME}
!/BluePill Drivers/
!/Example Projects/
/BluePill Drivers/.obsidian
