/.metadata/
/.vscode/
/Drivers/
/Button_3LEDS/
BluePill Drivers/CURT_GPIO/.obsidian/workspace.json
BluePill Drivers/CURT_GPIO/.obsidian/app.json
BluePill Drivers/CURT_GPIO/.obsidian/workspace.json
BluePill Drivers/CURT_RCC/.obsidian/app.json
BluePill Drivers/CURT_RCC/.obsidian/workspace.json
Hazem_Montasser_Button3LEDS.rar
Button_3LEDS_Non_HAL
Buttons_3Leds.7z
CURT23_Comm_iot.7z
Hazem_Montasser_RCC_Driver.pdf
Hazem_Montasser_GPIO_Driver.pdf
Button_3LEDs_Non_HAL.7z
RemoteSystemsTempFiles/.project
test123/.cproject
test123/.project
test123/.settings/language.settings.xml
test123/include/BlinkLed.h
test123/include/stm32f10x_conf.h
test123/include/Timer.h
test123/ldscripts/libs.ld
test123/ldscripts/mem.ld
test123/ldscripts/sections.ld
test123/src/_write.c
test123/src/BlinkLed.c
test123/src/main.c
test123/src/Timer.c
test123/system/include/arm/semihosting.h
test123/system/include/cmsis/arm_common_tables.h
test123/system/include/cmsis/arm_const_structs.h
test123/system/include/cmsis/arm_math.h
test123/system/include/cmsis/cmsis_armcc.h
test123/system/include/cmsis/cmsis_armcc_V6.h
test123/system/include/cmsis/cmsis_device.h
test123/system/include/cmsis/cmsis_gcc.h
test123/system/include/cmsis/core_cm0.h
test123/system/include/cmsis/core_cm0plus.h
test123/system/include/cmsis/core_cm3.h
test123/system/include/cmsis/core_cm4.h
test123/system/include/cmsis/core_cm7.h
test123/system/include/cmsis/core_cmFunc.h
test123/system/include/cmsis/core_cmInstr.h
test123/system/include/cmsis/core_cmSimd.h
test123/system/include/cmsis/core_sc000.h
test123/system/include/cmsis/core_sc300.h
test123/system/include/cmsis/README_DEVICE.txt
test123/system/include/cmsis/stm32f10x.h
test123/system/include/cmsis/system_stm32f10x.h
test123/system/include/cortexm/ExceptionHandlers.h
test123/system/include/diag/Trace.h
test123/system/include/stm32f1-stdperiph/misc.h
test123/system/include/stm32f1-stdperiph/README_STDPERIPH.txt
test123/system/include/stm32f1-stdperiph/stm32f10x_adc.h
test123/system/include/stm32f1-stdperiph/stm32f10x_bkp.h
test123/system/include/stm32f1-stdperiph/stm32f10x_can.h
test123/system/include/stm32f1-stdperiph/stm32f10x_cec.h
test123/system/include/stm32f1-stdperiph/stm32f10x_crc.h
test123/system/include/stm32f1-stdperiph/stm32f10x_dac.h
test123/system/include/stm32f1-stdperiph/stm32f10x_dbgmcu.h
test123/system/include/stm32f1-stdperiph/stm32f10x_dma.h
test123/system/include/stm32f1-stdperiph/stm32f10x_exti.h
test123/system/include/stm32f1-stdperiph/stm32f10x_flash.h
test123/system/include/stm32f1-stdperiph/stm32f10x_fsmc.h
test123/system/include/stm32f1-stdperiph/stm32f10x_gpio.h
test123/system/include/stm32f1-stdperiph/stm32f10x_i2c.h
test123/system/include/stm32f1-stdperiph/stm32f10x_iwdg.h
test123/system/include/stm32f1-stdperiph/stm32f10x_pwr.h
test123/system/include/stm32f1-stdperiph/stm32f10x_rcc.h
test123/system/include/stm32f1-stdperiph/stm32f10x_rtc.h
test123/system/include/stm32f1-stdperiph/stm32f10x_sdio.h
test123/system/include/stm32f1-stdperiph/stm32f10x_spi.h
test123/system/include/stm32f1-stdperiph/stm32f10x_tim.h
test123/system/include/stm32f1-stdperiph/stm32f10x_usart.h
test123/system/include/stm32f1-stdperiph/stm32f10x_wwdg.h
test123/system/src/cmsis/README_DEVICE.txt
test123/system/src/cmsis/system_stm32f10x.c
test123/system/src/cmsis/vectors_stm32f10x.c
test123/system/src/cortexm/_initialize_hardware.c
test123/system/src/cortexm/_reset_hardware.c
test123/system/src/cortexm/exception_handlers.c
test123/system/src/diag/Trace.c
test123/system/src/diag/trace_impl.c
test123/system/src/newlib/_cxx.cpp
test123/system/src/newlib/_exit.c
test123/system/src/newlib/_sbrk.c
test123/system/src/newlib/_startup.c
test123/system/src/newlib/_syscalls.c
test123/system/src/newlib/assert.c
test123/system/src/newlib/README.txt
test123/system/src/stm32f1-stdperiph/misc.c
test123/system/src/stm32f1-stdperiph/README_STDPERIPH.txt
test123/system/src/stm32f1-stdperiph/stm32f10x_adc.c
test123/system/src/stm32f1-stdperiph/stm32f10x_bkp.c
test123/system/src/stm32f1-stdperiph/stm32f10x_can.c
test123/system/src/stm32f1-stdperiph/stm32f10x_cec.c
test123/system/src/stm32f1-stdperiph/stm32f10x_crc.c
test123/system/src/stm32f1-stdperiph/stm32f10x_dac.c
test123/system/src/stm32f1-stdperiph/stm32f10x_dbgmcu.c
test123/system/src/stm32f1-stdperiph/stm32f10x_dma.c
test123/system/src/stm32f1-stdperiph/stm32f10x_exti.c
test123/system/src/stm32f1-stdperiph/stm32f10x_flash.c
test123/system/src/stm32f1-stdperiph/stm32f10x_fsmc.c
test123/system/src/stm32f1-stdperiph/stm32f10x_gpio.c
test123/system/src/stm32f1-stdperiph/stm32f10x_i2c.c
test123/system/src/stm32f1-stdperiph/stm32f10x_iwdg.c
test123/system/src/stm32f1-stdperiph/stm32f10x_pwr.c
test123/system/src/stm32f1-stdperiph/stm32f10x_rcc.c
test123/system/src/stm32f1-stdperiph/stm32f10x_rtc.c
test123/system/src/stm32f1-stdperiph/stm32f10x_sdio.c
test123/system/src/stm32f1-stdperiph/stm32f10x_spi.c
test123/system/src/stm32f1-stdperiph/stm32f10x_tim.c
test123/system/src/stm32f1-stdperiph/stm32f10x_usart.c
test123/system/src/stm32f1-stdperiph/stm32f10x_wwdg.c
test123/Debug/makefile
test123/Debug/objects.mk
test123/Debug/sources.mk
test123/Debug/src/_write.d
test123/Debug/src/_write.o
test123/Debug/src/BlinkLed.d
test123/Debug/src/BlinkLed.o
test123/Debug/src/main.d
test123/Debug/src/main.o
test123/Debug/src/subdir.mk
test123/Debug/src/Timer.d
test123/Debug/src/Timer.o
test123/Debug/system/src/cmsis/subdir.mk
test123/Debug/system/src/cmsis/system_stm32f10x.d
test123/Debug/system/src/cmsis/system_stm32f10x.o
test123/Debug/system/src/cmsis/vectors_stm32f10x.d
test123/Debug/system/src/cmsis/vectors_stm32f10x.o
test123/Debug/system/src/cortexm/_initialize_hardware.d
test123/Debug/system/src/cortexm/_initialize_hardware.o
test123/Debug/system/src/cortexm/_reset_hardware.d
test123/Debug/system/src/cortexm/_reset_hardware.o
test123/Debug/system/src/cortexm/exception_handlers.d
test123/Debug/system/src/cortexm/exception_handlers.o
test123/Debug/system/src/cortexm/subdir.mk
test123/Debug/system/src/diag/subdir.mk
test123/Debug/system/src/diag/Trace.d
test123/Debug/system/src/diag/Trace.o
test123/Debug/system/src/diag/trace_impl.d
test123/Debug/system/src/diag/trace_impl.o
test123/Debug/system/src/newlib/_cxx.d
test123/Debug/system/src/newlib/_cxx.o
test123/Debug/system/src/newlib/_exit.d
test123/Debug/system/src/newlib/_exit.o
test123/Debug/system/src/newlib/_sbrk.d
test123/Debug/system/src/newlib/_sbrk.o
test123/Debug/system/src/newlib/_startup.d
test123/Debug/system/src/newlib/_startup.o
test123/Debug/system/src/newlib/_syscalls.d
test123/Debug/system/src/newlib/_syscalls.o
test123/Debug/system/src/newlib/assert.d
test123/Debug/system/src/newlib/assert.o
test123/Debug/system/src/newlib/subdir.mk
test123/Debug/system/src/stm32f1-stdperiph/misc.d
test123/Debug/system/src/stm32f1-stdperiph/misc.o
test123/Debug/system/src/stm32f1-stdperiph/stm32f10x_gpio.d
test123/Debug/system/src/stm32f1-stdperiph/stm32f10x_gpio.o
test123/Debug/system/src/stm32f1-stdperiph/stm32f10x_rcc.d
test123/Debug/system/src/stm32f1-stdperiph/stm32f10x_rcc.o
test123/Debug/system/src/stm32f1-stdperiph/subdir.mk
test123/Debug/test123.elf
test123/Debug/test123.hex
test123/Debug/test123.map
